# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Models
*.pth
*.pt

# Data
data/raw/
data/processed/
data/external/
deforestation.zip
# Outputs
outputs/

# VSCode
.vscode/
test.ipynb
# Logs
*.log

# OS
.DS_Store
Thumbs.db