# Deep Learning
torch>=2.3
torchvision
torchaudio

# Data Science
numpy
pandas
scipy

# Computer Vision
opencv-python
Pillow
scikit-image

# Visualization
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn

# Dataset
kaggle
tqdm
PyYAML

# Remote Sensing
rasterio
geopandas
shapely

# Explainability
grad-cam

# Jupyter
jupyter
ipykernel
notebook

# Utilities
rich
tensorboard
pytest